form.LikeDeleteForm
{
  display: inline;
}

form.LikeDeleteForm input
{
  display: inline;
  cursor: pointer;
  background: transparent;
  border-width: 0;
  text-decoration: underline;
}

form#LikeForm
{
  display: inline;
}

form#LikeForm input
{
  display: inline;
  cursor: pointer;
  background: transparent;
  border-width: 0;
  text-decoration: underline;
}

.like-list-member
{
  width: 300px; 
  height: 400px;
  background: #FFFFFF;
  border: 1px solid #000000;
  position: absolute;
  overflow-y: scroll;
  z-index: 99; 
  display: none;
}

.like-wrapper
{
  float: right;
}

.like-post
{
  cursor: pointer;
}

.like-list
{
  cursor: pointer;
}

.like-cancel
{
  cursor: pointer;
}

/* diary plugin */
.like-friend-list {
  float: right;
}

div.parts dl span.like-wrapper {
  float: left;
}

