.like-list-member
{
  width: 300px; 
  height: 400px;
  background: #FFFFFF;
  border: 1px solid #000000;
  position: absolute;
  overflow-y: scroll;
  z-index: 99; 
  display: none;
}

.like-wrapper
{
  display: none;
}

.like-post
{
  cursor: pointer;
  color: #026cd1;
}

.like-list
{
  cursor: pointer;
  color: #026cd1;
}

.like-cancel
{
  cursor: pointer;
  color: #026cd1;
  display: none;
}

#likeModal
{
 width: 500px;
}

.modal-header
{
  color: #FFFFFF;
  background-color: #026cd1;
}

.like-modal-body
{
  overflow-y: scroll;
  height: 300px;
}

.like-more-see
{
  width: 440px;
}

.like-you
{
  display: none;
}

/* diary plugin */
.like-friend-list
{
  float: right;
}

div.parts dl span.like-wrapper
{
  float: left;
}

/* timeline plugin */
.font-small
{
  font-size: smaller;
  padding-left: 5px;
}
