form.NiceDeleteForm
{
  display: inline;
}

form.NiceDeleteForm input
{
  display: inline;
  cursor: pointer;
  background: transparent;
  border-width: 0;
  text-decoration: underline;
}

form#NiceForm
{
  display: inline;
}

form#NiceForm input
{
  display: inline;
  cursor: pointer;
  background: transparent;
  border-width: 0;
  text-decoration: underline;
}

.nice-post
{
  cursor: pointer;
  float: right;
}

.nice-cancel
{
  cursor: pointer;
  float: right;
}

.nice-list {
  cursor: pointer;
  float: right;
  position: relative;
}

.nice-list-member {
  width: 300px; 
  height: 400px;
  background: #FFFFFF;
  border: 1px solid #000000;
  position: absolute;
  overflow-y: scroll;
  z-index: 100; 
  display: none;
}
